<body>
    <div class="container">
        <h1>my educational details</h1>
        <div class="image">
            <img src="assets/images/pic.jpg">
            <p>For for my education details are shown in below table</p>
        </div>
        <table>
                <tr>
                    <th>s.no</th>
                    <th>instuite-name</th>
                    <th>collage-name</th>
                    <th>percentage</th>
                    <th>year</th>
                </tr>
                <tr>
                    <td>1</td>
                    <td>JNTUK</td>
                    <td>prakasam engineering collage</td>
                    <td>70%</td>
                    <td>2025</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Board of intermediate</td>
                    <td>BR oxford </td>
                    <td>70%</td>
                    <td>2022</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>board od secoundary education</td>
                    <td>BR oxford</td>
                    <td>90%</td>
                    <td>2019</td>
                </tr>
        </table>
    </div>
</body>
