<body>
    <div class="container">
        <div class="nav">
            <ul>
                <li><i class="fas fa-home"></i><a routerLink="home">home</a></li>
                <li><i class="fas fa-graduation-cap"></i><a routerLink="educationdeatils">educationdeatils</a></li>
                <li><i class="fas fa-project-diagram"><a routerLink="projects">projects</a></i></li>
                <li><i class="fas fa-user">
                  <div class="sub-menu-1">
                    <ul>
                        <li><i class="fas fa-address-book"></i><a routerLink="contacts">contacts</a></li>
                        <li><i class="fas fa-sign-in-alt"></i><a routerLink="login">login</a></li>
                    </ul>
                  </div>
                  </i>

                
                </li>
            </ul>

        </div>

           
      
     </div>  

<router-outlet></router-outlet>
<div class="footer">
    <div class="footer-main">
      <div class="socialicons">
        <a href="https://www.facebook.com/"><i class="fa-brands fa-facebook"></i></a>
        <a href="https://www.google.com"><i class="fa-brands fa-google-plus"></i></a>
        <a href="https://github.com/surendranathbe"><i class="fa-brands fa-github"></i></a>
        <a href="https://www.instagram.com/"><i class="fa-brands fa-instagram"></i></a>
        <a href="https://www.linkedin.com/in/surendra-nath-bezawada-627437277/"><i class="fa-brands fa-linkedin"></i></a>
      </div>
    </div>
</div>

</body>